<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            class="org.gap.eclipse.plugins.extras.core.quickdiff.ProjectBaseReferenceProvider"
            id="eclipse-plugins-extras-core.projectbasereferenceprovider"
            label="Project Base">
      </referenceprovider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?
after=org.eclipse.ui.CloseUnrelatedProjectsAction">
         <command
               commandId="eclipse-plugins-extras-core.projects.CloseNested"
               label="Close Projects"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
  	     </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gap.eclipse.plugins.extras.core.project.CloseNestedProjectsHandler"
            id="eclipse-plugins-extras-core.projects.CloseNested"
            name="Close Nested Projects">
      </command>
   </extension>

</plugin>
